.return {
  margin: 4rem 5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.return:hover {
  cursor: pointer;
  transform: translateX(-10px);
  transition: all 0.4s cubic-bezier(0.41, 1.62, 0.76, 1.21);
}

.product-hero {
  width: 84vw;
  position: relative;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  border-radius: 10px;
}

.product-hero__info {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}

.product-hero__image img {
  width: 90%;
  height: auto;
}

.product-hero__info::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  /* boostrap dark color */
  background: #292b2c;

  transform-origin: right center;
  transform: scale(1.3, 1.35);
  z-index: -1;
}

.product-hero__author {
  color: var(--line-500);
  text-align: center;
  font-size: 1rem;
  font-weight: light;
  font-family: var(--font-secondary);
}

.product-hero__info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  width: 80%;
  font-family: "IBM Plex";
  margin: 1rem 0;
}

.product-hero__id {
  font-size: 1rem;
  font-family: var(--font-main);
}

.product-hero__price {
  letter-spacing: 0.5px;
  font-size: 1.75rem;
  font-weight: 400;
}

.product-hero__image img {
  z-index: 10;
}
.product-hero__view-item {
  position: relative;
  border-radius: 50%;
  font-size: 1.125rem;
  line-height: 2rem;
  font-family: var(--font-main);
  cursor: pointer;
}

.product-hero__info__badges {
  gap: 2.5rem;
  text-align: center;
  flex-direction: row;
}

.product__badges {
  font-size: 0.825rem;
  color: #fff;
}
.product__badges span {
  font-weight: bold;
  font-family: var(--font-main);
}

.variant-btn {
  font-size: 1rem;
  font-family: var(--font-main);
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  margin: 2rem 2rem 2rem 0;
}

.variant-price {
  color: #292b2c;
  background: white;
  display: inline-block;
}

.variant-price,
.variant-name {
  cursor: pointer;
  border: 1px solid white;
  height: 100%;
  font-family: var(--font-main);
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}

.product-hero__desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  font-family: var(--font-secondary);
  margin: 1rem 0;
}

.other-section {
  grid-template-columns: 1fr 1fr;
  width: 85vw;
  margin-top: 10rem;
  min-height: 100vh;
}
.other-section .col {
  height: 100%;
}

.comment-section {
  border-right: 1px solid var(--line-500);
}

.title {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 1.5rem;

  color: var(--primary);
  padding: 0 0 1rem 1rem;
}

.commit-section__content {
  height: 50px;
}

.commit-section__content__avatar img {
  border-radius: 10px 0px 0px 10px;
}

.commit-section__content__form {
  grid-template-columns: 1fr 6fr 1fr;
  align-items: stretch;
}

.commit-section__content__form > * {
  height: 80px;
}
.form-comment {
  font-family: var(--font-secondary);
  font-size: 0.75rem;
  line-height: 10px;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.form-comment__submit {
  height: 100%;
  border-radius: 0 10px 10px 0;
}

.divider {
  display: block;
  width: 50%;
  margin: 2rem 0;
}

.product-comment {
  margin-right: 0.75rem;
}

.product-comment__item {
  grid-template-columns: 1fr 9fr;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.product-comment__item-avatar {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.product-comment__item-avatar img {
  border-radius: 10px;
}

.product-comment__item-name {
  font-family: var(--font-secondary);
  color: black;
  font-weight: 400;
}
.product-comment__item-date {
  color: var(--line-500);
  font-size: 0.825rem;
}

.product-comment__item-comment {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 0.75rem;
}

.top-9-prod .title {
  margin-bottom: 4rem;
}

.top-9-prod__item {
  height: 160px;
  width: 100%;
}

.top-9-prod__item .hover-mask::after,
.top-9-prod__img {
  border-radius: 10px;
  font-size: 0.95rem;
}

.hover-mask {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.hover-mask::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}

.hover-mask:hover::after {
  content: attr(data-content);
  color: white;
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem;
  transform-origin: bottom center;

  animation: tooltip 0.3s ease-in-out forwards;
}

@keyframes tooltip {
  0% {
    background: transparent;
    transform: scaleY(0.9);
  }
  100% {
    background: var(--primary);
    transform: scaleY(1);
  }
}

.col-3-3 {
  width: 80%;
  margin-left: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0.5rem;
}

.top-9-prod__item {
  border-radius: 10px;
}

.product-type-details {
  margin: 0 auto;
  margin-top: 14rem;
  width: 85vw;
  border-bottom: 1px solid #000;
}

.product-hero__info__button {
  font-family: var(--font-main);
  font-weight: bold;
  margin-top: 5rem;
}

.product-hero__info__button .btn {
  padding: 1rem 1.5rem;
  background: white;
  color: var(--primary);
  border-radius: 10px;
  position: relative;
}

.product-hero__info__button .btn:hover {
  background: transparent;
  transition: all 0.2s ease-in-out;
  color: white;
  border-bottom: 1px solid white;
}

.product-type-details__content__item {
  flex-direction: column;
  align-items: center;
}

.product-type-details__content {
  justify-content: space-around;
}

.product-type-details__content__item .block {
  margin: 1rem;
}
.product-type-details__content__item i {
  font-size: 1.5rem;
  color: var(--primary);
}

.type-detail {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 1rem;
  color: var(--primary);
}
