.admin-nav__container {
    border-top: 1px solid var(--line-500);
    justify-content: space-around;
    text-align: center;
  }
  .admin-nav__item {
    width: 100%;
  }
  

.product-chart {
    width: 500px;
    height: 520px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.card-body {
    padding: 0.5rem 1rem;
}