.slider {
    width: 100%;
    height: 350px;
    position: relative;
    /* add border radius to the right side */
}

.slide {
    width: 100%;
    height: 350px;
    position: absolute;
}

.banner-container {
    margin: 4rem 0;
}

.indicator-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: calc(50% - 5rem);
    /* offset 4rem do margin của banner-container */
    right: 1rem;
}

.slide__indicator__item::before {
    content: "";
    display: block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 2px solid var(--primary-100);
    margin: 0.65rem 0;
    cursor: pointer;
}

.active::before {
    background-color: var(--primary-100);
    font-size: 1.35rem;
}

.jumbotron {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.75rem 0 0 0.75rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.jumbotron__btn {
    margin: 2rem 0;
}

.banner-container .row {
    grid-template-columns: 3fr 7fr;
    max-width: 90vw;
    align-items: center;
    gap: 1rem 0.25rem;
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}

.col-2-2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.row-span-2 {
    grid-row: span 2;
}

.top-4-prod {
    --height: calc(175px - 0.25rem);
    width: 100%;
    height: var(--height);
    transition: all 0.3s ease-in-out;
}

.hover-mask {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.hover-mask::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}

.hover-mask:hover::after {
    content: attr(data-content);
    color: white;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 0.875rem;
    padding: 0.75rem;
    transform-origin: bottom center;
    background-image: linear-gradient(rgb(0, 0, 0 , 0), rgb(0 ,0 , 0 , 0.8));
}

@keyframes tooltip {
    0% {
        background: transparent;
        transform: scaleY(0.9);
    }
    100% {
        background: var(--primary);
        transform: scaleY(1);
    }
}

.main-container {
    margin-bottom: 5rem;
}

.main-container>.row {
    grid-template-columns: 3fr 7fr;
    max-width: 90vw;
}

.prod-showcase {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(250pxpx, 300px);
    position: relative;
    row-gap: 8rem;
}

.prod-item {
    position: relative;
    width: 250px;
    max-height: 200px;
    text-align: center;
}

.prod-item__img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.prod-item__img-wrapper:hover {
    padding-bottom: 4rem;
    transition: all 0.2s;
}

.prod-item__img-wrapper:hover .widget > i {
    transition: opacity 0.4s cubic-bezier(0.46, -0.35, 0.44, 1.15);
    opacity: 1;
}

.prod-item__img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    margin: auto;
}

.prod-item__tag-list {
    position: absolute;
    top: 0;
    left: 6.5%;
}

.prod-item__tag {
    margin-bottom: 0.125rem;
    position: relative;
    z-index: 2;
    font-family: var(--font-main);
    font-weight: 700;
    color: white;
    font-size: .625rem;
    padding: 0.75rem 0.25rem;
    background-color: var(--primary-300);
}

.prod-item__tag > * {
    min-height: 0.5rem;
}

.text-wrapper {
    /* writing-mode: vertical-rl; */
    /* Quay ngang h3 */
    transform-origin: 0 0;
    /* transform: rotate(90deg); */
    /* sau khi quay ngang h3 sẽ vẫn chiếm khoảng chống cũ, dùng absolute để fix */

}

.prod-item__desc {
    position: relative;
}

.prod-item__name {
    letter-spacing: 3px;
    font-size: 0.9125rem;
    font-weight: bold;
    font-family: var(--font-main);
    padding: 0.5em;
    width: 100%;
    text-align: center;
    overflow: hidden;
    border: 0.5px solid transparent;
    border-radius: 0 0 0.75rem 0.75rem;
    z-index: 99;
    color: black;
}

.prod-item__price {
    z-index: 2;
    font-size: 0.875rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    color: white;
    background-color: var(--primary-300);
    padding: 0.5rem;
    min-width: 5rem;
}

.prod-item__discount {
    font-size: 0.875rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    text-align: center;
    transform: translateY(-50%);
    transition: all 0.35s cubic-bezier(0.46, -0.35, 0.44, 1.15);
    z-index: 10;
    color: white;
    background-color: var(--primary-300);
    padding: 0.5rem;
    min-width: 5rem;
}

.prod-item__price:hover,
.prod-item__price:focus,
.prod-item__discount:hover,
.prod-item__discount:focus {
    background-color: white;
    color: var(--primary);
}

.prod-item__price.scratched {
    background-color: var(--primary-500);
    color: var(--primary-300);
}

.prod-item__price.scratched:hover {
    background-color: var(--primary-500);
    color: var(--primary-300);
}

.prod-item__discount-percentage {
    font-size: 0.875rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    text-align: center;
    transform: translateY(-50%);
    transition: all 0.35s cubic-bezier(0.46, -0.35, 0.44, 1.15);
    z-index: 10;
    color: white;
    background-color: rgb(197, 25, 25);
    padding: 0.5rem;
    min-width: 5rem;
}

.prod-item__icon {
    position: absolute;
    bottom: 1rem;
    font-size: 1.125rem;
}

.prod-item__icon:hover {
    transition: transform 0.25s cubic-bezier(0.46, -0.35, 0.44, 1.15);
    text-shadow: 2px 1px 1px var(--line-700);
    transform: rotate(5deg) scale(1.125);
}

.cart-action__confirm {
    z-index: 3;
    display: block;
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    width: 15%;
    height: 15%;
}

.widget>i {
    opacity: 0;
    color: var(--primary-100);
}

.widget>i:hover {
    transition: opacity 0.3s cubic-bezier(0.46, -0.35, 0.44, 1.15);
    opacity: 1;
}

.prod-item__cart {
    transition: all 0.35s cubic-bezier(0.46, -0.35, 0.44, 1.15);
    right: 5%;
    top: 6.5%;
    height: 5%;
    color: var(--primary-300);
}

.prod-item__view {
    right: 5%;
}

.prod-item__comment {
    right: 43%;
}

.prod-item__rating {
    left: 5%;
}

.prod-item__icon span {
    font-size: 0.75rem;
    font-family: var(--font-secondary);
    position: relative;
    top: -1rem;
}

.title {
    font-size: 1.25rem;
    font-family: var(--font-main);
    font-weight: 700;
    text-transform: uppercase;
}

.category .title {
    margin-bottom: 2rem;
}


/* category block */

.form-check-input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

.form-check-label {
    display: inline-block;
    cursor: pointer;
    margin: 0.75rem 0;
    color: #c4c4c4;
    font-family: var(--font-main);
    font-size: 1rem;
}

.form-check-input[type="radio"]:checked+.form-check-label {
    position: relative;
    content: " ";
    color: black;
    font-weight: bold;
}

.form-check-input[type="radio"]:checked+.form-check-label::before {
    content: "◆";
    position: absolute;
    left: -1.15rem;
}

.form-check-input[type="radio"]:hover+.form-check-label {
    position: relative;
    content: " ";
    color: black;
    font-weight: bold;
}

.form-check-input[type="radio"]:hover+.form-check-label::before {
    content: "◆";
    position: absolute;
    left: -1.15rem;
}

.divider-50,
.form-filter {
    width: 100%;
}

.form-filter {
    grid-template-columns: 0.25fr 1fr;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.fa-search,
.fa-sort {
    padding: 0 0.5rem;
    font-size: 1.25rem;
    color: #c4c4c4;
}

.form-filter__input {
    width: 100%;
    padding: 0.5rem;
    background: var(--line);
    font-size: 0.75rem;
    font-family: var(--font-main);
    font-weight: light;
    color: #000;
}

.form-filter__input:focus,
.form-filter__input:active,
.form-filter__input:hover,
.form-filter__input {
    outline: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.top-10-prod .title {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.top-10-prod__list {
    gap: 0.5rem;
}

.top-10-prod__item {
    height: calc(250px / 2);
    width: 100%;
}

.top-10-prod__item .hover-mask::after,
.top-10-prod__img {
    font-size: 0.75rem;
}

.side-menu {
    max-width: 250px;
}

.pagination {
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    transform: translateX(-5%);
    gap: 1.5rem;
}


/* override style */

.pagination__link {
    border: 1px solid var(--primary-300);
}

.pagination__link--active {
    background: var(--primary-300);
    color: white;
}

.prod-showcase__title {
    margin-bottom: 2em;
    text-transform: uppercase;
    font-family: var(--font-main);
}

.form-sort {
    outline: none;
    border: none;
}

.widget>*,
.cart-action i {
    z-index: 2;
}

.cart-action__hidden {
    z-index: 1;
}

.prod-link {
    z-index: 99;
}

