#container {
  min-height: 140vh;
  background-size: cover;
  color: rgba(116, 116, 116, 0.667);
  background: rgb(0, 0, 0);
}

.container-fluid {
  width: 100%;
}

.card {
  border: none !important;
  margin: 5rem auto !important;
}

.card {
  outline: 2px solid palevioletred;
  outline-offset: 35px;
}

.card-container {
  background: white;
}

hr {
  background-color: rgba(248, 248, 248, 0.667);
}

.bold {
  font-weight: 500;
}

.change-color {
  color: #ffffff !important;
}

.backin:hover {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.rounded {
  border-radius: 2.25rem !important;
}

.progress-bar {
  background-color: #ab47bc !important;
}

.progress {
  height: 5px !important;
  margin-bottom: 0;
}

.invoice {
  position: relative;
  top: -70px;
}

.Glasses {
  position: relative;
  top: -12px !important;
}

.card-footer {
  background-color: #ab47bc;
  color: #fff;
}

h2 {
  color: rgb(78, 0, 92);
  letter-spacing: 2px !important;
}

@media (max-width: 479px) {
  .invoice {
    position: relative;
    top: 7px;
  }
  .border-line {
    border-right: 0px solid rgb(226, 206, 226) !important;
  }
}

@media (max-width: 700px) {
  h2 {
    color: rgb(78, 0, 92);
    font-size: 17px;
  }
  .display-3 {
    font-size: 28px;
    font-weight: 500 !important;
  }
}

.card-footer small {
  letter-spacing: 7px !important;
  font-size: 12px;
}

.border-line {
  border-right: 1px solid rgb(226, 206, 226);
}

.breadcrumb {
  position: relative;
  z-index: 999;
}

.breadcrumb-container {
  --bs-breadcrumb-divider: " ";
}

.fa-download {
  pointer-events: none;
}