.form-signin {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-top: 10vh;
}


.form-signin-heading {
  width: 100%;
  padding: 1.25rem;

  background: var(--primary-300);
  color: var(--primary-700);
  font: 1.25rem var(--font-main);
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
  border-radius: 0.5rem 0.5rem 0 0;
}

.error {
  background: var(--error);
  font-size: .925rem;
}

.form-signin-heading,
.form-control__input {
  margin-bottom: 3.5rem;
}

.form-control__input {
  width: 100%;
  background: var(--line);
  padding: 0.75em 0.5em;
}

.form-control__input:focus {
  outline: none;
}

.form-control__input:focus,
.form-control__input:focus::placeholder {
  background: var(--primary-700);
  color: var(--primary-300);
  transition: all 0.2s ease-in-out;
}

.login-btn {
  width: 100%;
  padding: 0.75em;
  color: var(--primary-300);
  font: 1.25rem var(--font-main);
  font-weight: bold;

  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-bottom: 2rem;
}

.login-btn:hover {
  background: var(--primary-300);
  color: var(--primary-700);
  transition: all 0.2s ease-in-out;
}

.wrapper {
  column-gap: 1rem;
  font-family: var(--font-secondary);
  color: var(--primary-300);
  font-size: 0.8125rem;
  width: 100%;
  justify-content: space-between;
}

.form-check {
    align-items: center;
}

.remember-me:hover {
  cursor: pointer;
}

.remember-me {
  -webkit-appearance: none;
  appearance: none;

  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--primary);
  border-radius: 0.15em;
  place-content: center;
  margin: 0 0.625em;
  transform: translateY(-0.1em);
  display: inline-grid;
}

.remember-me::before {
  content: "";
  width: inherit;
  height: inherit;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--primary);
}

.remember-me:checked::before {
  transform: scale(1);
}
