#container {
  min-height: 120vh;
  margin: auto;
}

#app {
  height: 120vh;
  grid-template-columns: 0.2fr 1fr;
}
#toolbar {
  background-color: var(--primary-300);
  color: #fff;
  padding: 0.5em;
}
#toolbar button,
#page-mode input {
  color: currentColor;
  background-color: transparent;
  font: inherit;
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 0.25em 0.5em;
  margin-top: 1rem;
}

#toolbar button:hover,
#toolbar button:focus,
#page-mode input:hover,
#page-mode input:focus {
  color: lightGreen;
}
#page-mode {
  padding: 0.25em 0.5em;
}

#viewport-container {
  flex: 1;
  background: #eee;
  overflow: auto;
}
#viewport {
  width: 50%;
  margin: 0 auto;
}
#viewport > div {
  text-align: center;
  max-width: 100%;
}
#viewport canvas {
  width: 100%;
  box-shadow: 0 2px 5px gray;
}

#bookmark-wrapper {
  width: 80%;
  margin: 2rem auto;
}

#bookmark-list-select,
#bookmark-list-select:focus {
  appearance: none;
  outline: none;
  border: none;
}

#bookmark-list-select {
  color: black;
  border-radius: 3px;
  padding: 0.25em 0.5em;
  margin: 1rem;
}

.delete-bookmark:hover {
  color: tomato !important;
  cursor: pointer;
}

#pager {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
