/* bad practice */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');

:root {
  --primary-h: 203;
  --primary-s: 40%;
  --primary-l: 67%;
  --light: 15%;

  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  --primary-100: hsl(
    var(--primary-h),
    calc(var(--primary-s) - var(--light) * 0.5),
    calc(var(--primary-l) - var(--light) * 2)
  );
  --primary-300: hsl(
    var(--primary-h),
    calc(var(--primary-s) - var(--light)),
    calc(var(--primary-l) - var(--light))
  );
  --primary-500: hsl(
    var(--primary-h),
    var(--primary-s),
    calc(var(--primary-l) + var(--light))
  );
  --primary-700: hsl(
    var(--primary-h),
    var(--primary-s),
    calc(var(--primary-l) + var(--light) * 2)
  );

  --error: hsl(
    0,
    var(--primary-s),
    var(--primary-l)
  );

  --error-500: hsl(
    0,
    calc(var(--primary-s) + var(--light)),
    calc(var(--primary-l) + var(--light))
  );

  --line: #c4c4c440;
  --line-500: #c4c4c4;
  --font-main: "Montserrat", sans-serif;
  --font-secondary: "Fira Sans", sans-serif;
}

.btn--primary-o,
.btn--primary-a:hover {
  color: var(--primary-100);
  border: 1px solid var(--primary);
}

.btn--primary-o:hover,
.btn--primary-a:active,
.btn--primary {
  background: var(--primary);
  color: #fff;
}

.btn--success {
  background: #E7D4C0;
  color: #fff;
}

.btn--danger {
  background: var(--error);
  color: #fff;
}

.btn--outline {
  border: 1px solid var(--primary);
  color: var(--primary);
}

/* background color */

.theme--primary {
  background-color: var(--primary);
  color: #fff;
}

.theme--primary-100 {
  background-color: var(--primary-100);
  color: #fff;
}

.theme--primary-300 {
  background-color: var(--primary-300);
  color: #fff;
}

.theme--primary-500 {
  background-color: var(--primary-500);
  color: #fff;
}

.theme--primary-700 {
  background-color: var(--primary-700);
  color: #fff;
}

.theme--dark {
  background-color: rgb(20, 20, 20);
  color: #fff;
}

.txt--light {
  color: var(--line);
}

.border {
  border: .5px solid transparent;
}
.border-1 {
  border: 1px solid transparent;
}

.border--line {
  border: 1px solid var(--line);
}

.disabled {
  pointer-events: none;
  color: var(--line-500);
}

.small {
  font-size: 0.75rem;
  font-family: var(--font-main);
}

/* CSS */
.button-48 {
  appearance: none;
  background-color: #ffffff;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ebebeb;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #ffffff;
}

.button-48 span {
  z-index: 1;
  position: relative;
}