<section class="col">
    <div class="title prod-showcase__title">
        <h1>
            Tin mới
        </h1>
    </div>
    <div class="prod-showcase grid">
        <!-- main product showcase  -->
        <div class="prod-item">
            <a href="?id=1" class="prod-link">
                <div class="text-wrapper theme--dark">
                    <h3 class="prod-item__name truncate">5 Địa điểm trao đổi sách cũ cho hội mê sách</h3>
                </div>
                <div class="prod-item__img-wrapper">
                    <img class="img-fluid prod-item__img" src="/public/img/news/5 Địa điểm trao đổi sách cũ cho hội mê sách.jpg" alt="" />
                </div>
            </a>
        </div>

        <div class="prod-item">
            <a href="detail&id=26&category=6" class="prod-link">
                <div class="text-wrapper theme--dark">
                    <h3 class="prod-item__name truncate">4 TÁC PHẨM VĂN HỌC VIỆT NAM HAY CHO BẠN ĐỌC</h3>
                </div>
                <div class="prod-item__img-wrapper">
                    <img class="img-fluid prod-item__img" src="/public/img/news/4 TÁC PHẨM VĂN HỌC VIỆT NAM HAY CHO BẠN ĐỌC.jpg" alt="" />
                </div>
            </a>
        </div>

        <div class="prod-item">
            <a href="detail&id=26&category=6" class="prod-link">
                <div class="text-wrapper theme--dark">
                    <h3 class="prod-item__name truncate">Những tác phẩm văn học kinh điển nước ngoài nhất định bạn phải đọc</h3>
                </div>
                <div class="prod-item__img-wrapper">
                    <img class="img-fluid prod-item__img" src="/public/img/news/Những tác phẩm văn học kinh điển nước ngoài nhất định bạn phải đọc.jpg" alt="" />
                </div>
            </a>
        </div>

        <div class="prod-item">
            <a href="detail&id=26&category=6" class="prod-link">
                <div class="text-wrapper theme--dark">
                    <h3 class="prod-item__name truncate">ĐỌC SÁCH MỖI NGÀY GIÚP NÂNG CAO TINH THẦN TỰ HỌC/h3>
                </div>
                <div class="prod-item__img-wrapper">
                    <img class="img-fluid prod-item__img" src="/public/img/news/ĐỌC SÁCH MỖI NGÀY GIÚP NÂNG CAO TINH THẦN TỰ HỌC.jpg" alt="" />
                </div>
            </a>
        </div>

        <div class="prod-item">
            <a href="detail&id=26&category=6" class="prod-link">
                <div class="text-wrapper theme--dark">
                    <h3 class="prod-item__name truncate">Cách giúp bạn rèn luyện thói quen đọc sách mỗi ngày cực hiệu quả</h3>
                </div>
                <div class="prod-item__img-wrapper">
                    <img class="img-fluid prod-item__img" src="/public/img/news/Cách giúp bạn rèn luyện thói quen đọc sách mỗi ngày cực hiệu quả.jpg" alt="" />
                </div>
            </a>
        </div>

        <div class="prod-item">
            <a href="detail&id=26&category=6" class="prod-link">
                <div class="text-wrapper theme--dark">
                    <h3 class="prod-item__name truncate">5 Địa điểm trao đổi sách cũ cho hội mê sách</h3>
                </div>
                <div class="prod-item__img-wrapper">
                    <img class="img-fluid prod-item__img" src="/public/img/news/Những cuốn sách dành cho tuổi trẻ lạc lối.jpg" alt="" />
                </div>
            </a>
        </div>
        </a>
    </div>

    <!-- end main product showcase -->
    <div class="pagination flex mx-auto">
        <form action="" method="POST" class="pagination-form">
            <input type="hidden" name="pageno" value="1">
            <button type="submit" class="pagination__link btn btn--primary-o pagination__link--active ">
                1 </button>
        </form>
    </div>
</section>